* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: 485158;
}
#container {
        width: 1200px;
        margin: 0 auto;
        background :#ffffff;
        padding: 0;
}

/*_______________ START CSS Top Menu_________________*/

#top-menu {
    width: 1100px;
    margin-left: 50px;
}

#top-menu:after {
    content: '';
    display: block;
    clear: both;
    border-bottom: #d8d8d8 solid 5px;
}

#top-menu-left {
    padding: 10px 0;
    float: left;
}

#top-menu-right {
    float: right;
}

#top-menu-right ul {
    list-style-type: none;
    padding: 10px 0;
}

#top-menu-right li {
    display: inline;
    padding: 10px;
}
/*_______________ END CSS Top Menu_________________*/


/*_______________ START CSS Banner_________________*/

#banner {
    width: 1100px;
    margin-left: 50px;
}

#banner:after {
    content: '';
    display: block;
    clear: both;
}

#logo {
    float: left;    
}

#primary-menu {
    float: right;
    margin: 35px 0;
}

#primary-menu ul {
    list-style-type: none;
}

#primary-menu li {
    display: inline;
    padding: 10px;
}
/*_______________ END CSS Banner_________________*/


/*_______________ START CSS BLOCK 1_________________*/

#block-1 {
    margin: 20px 250px 50px;
}


.title-block {
    text-align: center;
    margin: 20px 0;
}

.underlined {
    display: inline-block;
    padding: 15px 0;
    border-bottom: #c8c8c8 solid 5px;
}
/*_______________ END CSS BLOCK 1_________________*/


/*_______________ START CSS BLOCK 2_________________*/

#block-2 {
    background: #f8f8f8;
}

.row {
    display: flex;
    padding-bottom: 50px;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

.column-1 {
    width: 700px;
    margin-left: 50px;
}

.block-rectangle-1 {
  width: 633px;
  height: 383px;
  background-image: url('images/a2.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pre {
  width: 49px;
  height: 107px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #c9cacc;
  font-size: 3.5em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.next {
  width: 49px;
  height: 107px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #c9cacc;
  font-size: 3.5em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.block-rectangle-2 {
    display: flex;
}

.rectangle-1 {
    width: 211px;
    height: 107px;    
    background-image: url('images/a3.jpg');
    background-size: cover;
    background-position: center;
}

.rectangle-1 .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.rectangle-2 {
    width: 211px;
    height: 107px;
    background-image: url('images/a2.jpg');
    background-size: cover;
    background-position: center;
}

.column-2 {
   width: 500px;
   margin: 0 30px;
}

.button {
    background: #e5783f;
    text-align: center;
    font-size: 16px;
    margin: 40px 0;
    padding: 10px 0;
}
/*_______________ END CSS BLOCK 2_________________*/



/*_______________ START CSS BLOCK 3_________________*/

.block-3 {
    display: flex;
    width: 800px;
    background-color: #f8f8f8;
    margin: 10px auto;
    align-items: center;

}

.block-3 .number {
    font-size: 80px;
    padding: 0 50px;
}

.left-block-3 {
    padding: 10px 0;
}
.pic {
    width: 80px;
    height: 80px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    background-image: url('images/a3.jpg'); 
    background-size: cover;
    background-position: center;
}

.block-3 .title-block-3 {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
}

.block-3 .content-block-3 {
    padding-right: 50px;
}
/*_______________ END CSS BLOCK 3_________________*/


/*_______________ START CSS BLOCK 4_________________*/
.img-full-2 {
    margin: 50px 0 30px;
}

.table-text table {
    padding: 20px;
}
/*_______________ END CSS BLOCK 4_________________*/

    
/*_______________ START FOOTER_________________*/
#footer {
    width: 1100px;
    margin-left: 50px;
    display: flex;
}

.copyright {
    text-align: center;
    padding: 30px;
}